<section class="card">
  <a href="/tool/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
       {{!-- <img src="/images/{{name}}"  alt="{{description}}"> --}}
       <p>{{name}} | {{description}}</p>
      {{!-- <p>testing {{tool}}</p> --}}
    </div>
  </a>
</section>