<section>
  <div class="row">
      <header class="col s12">
        <div class="row">
          <h3 class="col s12 l7">{{tool.name}} </h3>
          <p class="col s12 l5">posted by {{tool.user.name}}</p>
        </div>
      </header>
      <div class="col s12"> 
        <p>{{tool.description}}</p>
        <input type='hidden' name="tool-id" value="{{tool.id}}">
        

        <div class="center">
          <form class="delete-tool">
            <button class="btn btn-primary" type="submit">DELETE</button>
          </form>
          <button class="btn btn-primary"><a href="/update-tool/{{tool.id}}">UPDATE</button>

        </div>
      </div>
     


    
  </div>
</section> 

<script src="/js/deleteTool.js"></script>
