<section>
  <div class="row">
      <h3 class="col s12 l7">{{tool.name}}</h3>
            <p class="col s12">{{tool.description}}</p>
      <p class="col s12">posted by <a href="/user/{{tool.user.id}}">{{tool.user.name}}</a></p>
      <p class="col s12">{{tool.category.name}}</p>

      <div class="col s12"> 
        <input type='hidden' name="tool-id" value="{{tool.id}}">
        {{#if user_tool}}
        <div class="right" id="delete-edit-div">
          <form class="delete-tool" id="delete-tool-form">
            <button class="btn btn-primary indigo darken-4" type="submit"><i class="material-icons" data-id="{{id}}">delete</i></button>
          </form>
          <a href="/update-tool/{{tool.id}}" class="white-text btn btn-primary indigo darken-4"><i class="material-icons">edit</i></a>
        </div>
        {{else}}
        <div class="right">
          <button id="borrow" class="btn btn-primary indigo darken-4">borrow tool</button>
          </div>
        {{/if}}
      </div>
  </div>
</section> 

{{#if user_tool}}
<script src="/js/deleteTool.js"></script>
{{else}}
<script src="/js/borrowTool.js"></script>
{{/if}}